

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 
 /* 2. ---Main Nav--- */
 
 #Nav-Desktop button {
    width: 20px;
    height: 20px;
    background: url(../images/moblie_menu.svg) no-repeat center;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .5s ease;
    border: 0;
 }


 #search {
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
 }
 
 #main-logo {
    margin-top: 10px;
    width: 90%;
 }


 #main-nav button.expanded {
    transform: rotate(90deg);
 }
 
 #burger-con {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
 }
 
 #burger-con.slide-toggle {
    display: block;
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li a:hover {
    color: #9a2018;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }

/*1--Hero Image--*/
.hero {
    margin-bottom: 10px;
    color: #fff;
}

#hero-image {
    height: 375px;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 1/3;
    justify-self: center;
}

.hero-text {
    margin-top: 37px;
    grid-row: 1/3;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.s_more {
    height: 43px;
    margin-top: 122px;
    margin-left: 39px;
    font-size: 11px;
    grid-row: 1/3;
    border: solid 2px #fff;
    border-radius: 2px;
    width: 108px;
    padding-top: 11px;
    font-weight: bold;
    color: #fff;
}

.more h3 {
    color: #fff;
    text-align: center;
}

.l_more {
    height: 43px;
    margin-top: 122px;
    font-size: 11px;
    grid-row: 1/3;
    border: solid 2px #fff;
    border-radius: 2px;
    width: 108px;
    padding-top: 11px;
    font-weight: bold;
}


/*--2.PROMO--*/
#promo-con {
    background-color: #BC8D0A;
    height: 193px;
    margin-bottom: 10px;
    grid-row: 1/3;
}

.promo-pic {
    grid-row: 1/3;
}

.promo-pic img{
    height: 141px;
    margin-top: 25px;
    /* margin-left: 55px;
    margin-right: 55px; */
    width: 270px;
    margin-left: 13px;
}

#promo-text {
    margin-top: 120px;
    grid-row: 1/3;
    background-color: #eeeeee;
    font-size: 6px;
    height: 29px;
    padding: 7px 7px 0 7px;
    text-align: center;
    border-radius: 1px;
    /* margin-top: -60px; */
}

#promo-text-2 {
    display: none;
}

/*---3.STORE---*/
#store {
    /* background-color: #A0A0A0; */
    height: 824px;
    margin-bottom: 10px;
    animation: change 10s infinite ease-in-out;
    
}

@keyframes change {
    0% { background-color: #1F221A;}
    12.5% { background-color: #BC8D0A;}
    25% { background-color: #e88b8b}
    37.5% { background-color:  #ead514;}
	50% { background-color:  #e08314;}
	62.5% {	background-color:  #ead514;}
	75% { background-color:  #e88b8b;}
	87.5% { background-color:  #BC8D0A;}
	100% { background-color:  #1F221A;}
}

.shop {
    height: 17px;
    margin-top: 18px;
    margin-bottom: 0;
    text-align: center;
}

.shop-more {
    margin-bottom: 0;
    font-size: 15px;
    border: solid 1px #fff;
    text-align: center;
    padding-top: 5px;
    height: 30px;
    border-radius: 1px;
    font-weight: 600;
    color: #fff;
}



.shop-text {
   display: none;
}

.product1 img{
    height: 300px;
    grid-row: 2/3;
    margin: 0;
    width: 131px;
}

.product_1 img{
    height: 300px;
    grid-row: 2/3;
    width: 131px;
}

.product2 img{
    height: 300px;
    grid-row: 3/3;
    margin: 0;
    width: 131px;
}

.product_2 img{
    height: 300px;
    grid-row: 3/3;
    margin: 0;
    width: 131px;
}

/*---4. BLOG---*/
#blog {
    height: 600px;
    background-color: #E3E3E3;
    margin-bottom: 8px;
}

.blog {
    height: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.blog-text {
    height: 19px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 21px;
}

.blog-title {
    height: 203px;
    margin-right: 53px;
    margin-left: 40px;
    padding-right: 30px;
    grid-row: 3/4;
    border-radius: 0;
    margin-bottom: 20px;
}

.blog-img {
    grid-row: 3/4;
    height: 160px;
    border: solid 3px #ffffff;
    margin-top: 21px;
    border-radius: 0;
    margin-right: 34px;
}

 .blog-title-1 {
    height: 203px;
    margin-right: 36px;
    margin-left: 40px;
    grid-row: 4/4;
    border-radius: 0;
}

.blog-img-1 {
    grid-row: 4/4;
    height: 160px;
    border: solid 3px #fff;
    border-radius: 0;
    margin-top: 21px;
    margin-left: 32px;
} 

.read {
    height: 16px;
    font-size: 12px;
    text-align: left;
    padding-left: 12px;
    padding-top: 14px;
    margin-top: 0;
}

/*---5.HISTORY---*/
#history {
    height: 535px;
    background-color: #989898;
    margin-bottom: 8px;
}

.vid-1 {
    border-radius: 50%;
    height: 101px;
    text-align: center;
    margin-left: 19px;
    margin-right: 9px;
    background-color: #ffffff;
}

#zima-history{
    height: 20px;
}

#history-info {
    margin-right: 11px;
    margin-left: 11px;
    height: 53px;
    margin-top: 0;
}

/*--6.Footer---*/
#footer {
    height: 262px;
    background-color: #989898;
}

#footer-logo {
    height: 63px;
    margin-left: 13px;
    padding-right: 38px;
}

#footer-nav {
    height: 100px;
    margin-left: 12px;
    padding-right: 35px;
}

#contact {
    height: 88px;
    margin-left: 35px;
    padding-left: 48px;
}

#submit-info {
    height: 70px;
    margin-left: 8px;
    margin-right: 8px;
}

#submit {
    height: 19px;
    margin-left: 8px;
    margin-right: 60px;
}

/*---Tablet: 768---*/

@media screen and (min-width: 768px) {
    #main-logo {
        order: -1;
    }

    #main-logo {
        width: 80%;
        margin-top: 15px;
    }

    #search {
        margin-top: 45px;
        border-radius: 50px;
        text-align: center;
        width: 330px;
        height: 35px;
        margin-left: 22px;
    }

    #Nav-Desktop button {
        width: 45px;
        height: 45px;
        background: url(../images/moblie_menu.svg) no-repeat center;
        margin-top: 40px;
        margin-bottom: 20px;
        transition: all .5s ease;
        border: 0;
    }

    /*--1. Hero Image--*/
    .hero {
        height: 390px;
    }
    
    .hero img {
        grid-column: 1/-1;
        grid-row: 1/3;
        justify-self: center;
    }
    .hero-text {
        height: 118px;
        margin-top: 20px;
        grid-row: 1/3;
    }

    .s_more {
        height: 29px;
        width: 88px;
        margin-left: 0;
        padding-top: 5px;
    }
    .l_more {
        height: 29px;
        width: 88px;
        padding-top: 5px;
    }
/*---2. PROMO---*/
    /* #promo-con {
        background-color: #E3E3E3;
        
    } */

    .promo-pic img {
        grid-row: 2/3;
        height: 141px;
        margin-top: 25px;
        margin-left: 55px;
        margin-right: 55px;
        width: 546px;
    }
    
    #promo-text {
        grid-row: 2/3;
        height: 34px;
        font-size: 10px;
        padding-top: 4px;
        margin-left: 20px;
        border-radius: 5px;
    }
   
/*---3.STORE---*/
    #store {
        height: 460px;
        margin-bottom: 10px;
    }
    
    .shop {
         margin-top: 24px;
         grid-row: 1/2;
         font-size: 18px;
         margin-bottom: 5px;
    }

    .shop-more {
        height: 19px;
        margin-top: 40px;
        grid-row: 4/4;
        padding-bottom: 22px;
        padding-top: 6px;
        margin-right: 7px;
    }

    .shop-text {
        display: block;
        font-size: 15px;
        color: #fff;
        margin-bottom: 8px;
        text-align: center;
     }
     

    .product1 {
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
        grid-row: 3/4;
        margin-bottom: 20px;
        width: 129px;
    }

    .product_1 {
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
        grid-row: 3/4;
        width: 129px;
    }

    .product2 {
        height: 250px;
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
        width: 129px;
    }
    
    .product_2 {
        height: 250px;
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
        width: 129px;
    }
    
/*---5.BLOG---*/

#blog {
    height: 478px;
    background-color: #E3E3E3;
    position: relative;
}

.blog-text {
    height: 19px;
    margin-left: 52px;
    margin-right: 32px;
    margin-bottom: 21px;
    grid-row: 2/3;
}

.blog-img {
    grid-row: 3/4;
    height: 249px;
    margin-top: -10px;
    border: solid 20px #E3E3E3;
    z-index: 1;
    position: absolute;
    padding-right: 200px;
}

.blog-title {
    height: 40px;
    margin-right: 0;
    margin-left: 19px;
    padding-right: 30px;
    grid-row: 3/3;
    border-radius: 0;
    margin-top: 250px;
}

.blog-img-1 {
    grid-row: 3/4;
    height: 275px;
    border: 0px;
    border-radius: 0;
    margin-top: 21px;
    margin-left: 6px;
    
} 

.blog-title-1 {
    height: 36px;
    margin-right: 0px;
    margin-left: 5px;
    grid-row: 4/4;
}

.read {
    height: 18px;
    grid-row: 4/4;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

/*---5.HISTORY---*/
#history {
    height: 267px;
    background-color: #989898;
    margin-bottom: 8px;
}

.vid-1 {
    border-radius: 50%;
    text-align: center;
    height: 78px;
    margin-right: 9px;
    background-color: #ffffff;
}

#vid-1 {    
    margin-top: 45px;
}

#vid-2 {    
    grid-row: 1/2;
    margin-top: 100px;
    margin-right: 28px;
    margin-left: 0px;
}

#vid-3 {    
    margin-right: 28px;
    margin-left: 0px;
    grid-row: 2/3;
    margin-top: -22px;
}

#zima-history{
    height: 20px;
    margin-left: 11px;
}

#history-info {
    margin-right: 11px;
    margin-left: 11px;
    height: 130px;
    margin-top: 50px;
    grid-row: 1/2;
}

/*--6.Footer---*/
#footer {
    height: 167px;
    background-color: #989898;
}

#footer-logo {
    height: 74px;
    margin-left: 13px;
    padding-right: 38px;
    margin-top: 40px;
}

#footer-nav {
    height: 106px;
    margin-left: 12px;
    padding-right: 35px;
    margin-top: 29px;
}

#contact {
    height: 111px;
    margin-left: 35px;
    padding-left: 48px;
    margin-top: 29px;
}

#submit-info {
    height: 71px;
    margin-left: 18px;
    margin-right: 8px;
    margin-top: 29px;
    grid-row: 1/2;
}

#submit {
    height: 19px;
   margin-left: 17px;
    grid-row: 1/2;
    margin-top: 110px;
}

}



/*---Destop: 1200---*/

@media screen and (min-width: 1200px) {
    #main-logo {
        order: -1;
    }

    #main-logo {
        width: 50%;
    }
/*--1. Header--*/
   
    #search {
        margin-top: 35px;
        border-radius: 50px;
        text-align: center;
        width: 167px;
    }

    #Nav-Desktop button {
        display: none;
    }

    #burger-con {
        display: contents;
    }

    #Nav-Desktop {
        margin-top: 25px;
        grid-row: 1/3;
        padding-left: 0;
    }
    
    /* #Nav-Desktop ul {
        list-style: none;   
    }
     */
    #Nav-Desktop ul li {
        display: inline;
        font-size: 1.1rem;
        margin-right: 27px;
    }
    
    #Nav-Desktop ul li a {
        color: #000;
        letter-spacing: 2px;
    }
    
    #Nav-Desktop ul li a:hover {
        color: #BC8D0A;
        font-weight: 600;
        letter-spacing: 1px;
    }

/*2--Hero Image--*/
    #hero-image {
            height: 608px;       
    }

    .hero {
        height: 608px;
    }

    .hero-text {
        font-size: 40px;   
        margin-top: 46px;
    }

    .s_more {
        height: 49px;
        width: 135px;
        margin-left: 42px;
        padding-top: 10px;
        font-size: 17px;
        margin-top: 213px;
    }
    .l_more {
        height: 49px;
        width: 135px;
        padding-top: 10px;
        font-size: 17px;
        margin-top: 213px;
    }

/*---3.PROMO---*/
    /* .more {
        height: 39px;
        font-size: 15px;
        margin-bottom: 326px;
    } */
    
    #promo-con {
        height: 378px;
        margin-top: 10px;
    
    }

    .promo-pic img{
        /* grid-row: 2/3; */
        height: 241px;
        width: 770px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 55px;
    }
    
    #promo-text {
        margin-top: 0; 
        grid-row: 3/3;
        height: 44px;
        font-size: 14px;
        border-radius: 1px;
        padding: 4px 7px 7px 7px;
    }

    #promo-text-2 {
        display: block;
        grid-row: 3/3;
        height: 44px;
        text-align: center;
        background-color: #eeeeee;
        border-radius: 1px;
        font-size: 14px;
        padding: 4px 7px 7px 7px;
    }

      


/*---4.STORE---*/
    #store {
        background-color: #A0A0A0;
        height: 662px;
    }
   
    .shop-text {
        display: block;
        grid-row: 2/3;
        text-align: center;
        font-size: 20px;
    }   

    .shop {
        margin-top: 30px;
        /* grid-row: 1/2; */
        font-size: 30px;
        margin-bottom: 5px;
        color: #fff;
   }

   .shop-more {
       height: 42px;
       margin-top: 122px;
       grid-row: 4/4;
       padding-top: 8px;
       border-radius: 2px;
       border: solid 2px #fff;
    }

    .product1  img {
        height: 390px;
        margin-left: 20px;
        margin-right: 20px;
        grid-row: 3/4;
        width: 198px;
    }

    .product_1  img {
        height: 390px;
        margin-left: 20px;
        margin-right: 20px;
        grid-row: 3/4;
        width: 198px;
        margin-bottom: 30px;
    }


    .product2 img {
        height: 390px;
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
        width: 198px;
    }

    .product_2 img {
        height: 390px;
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
        width: 198px;
    }

/*---5.BLOG---*/
#blog {
    height: 745px;
    background-color: #E3E3E3;
    position: relative;
}

.blog-text {
    height: 62px;
    margin-left: 52px;
    margin-right: 32px;
    margin-bottom: 21px;
    grid-row: 2/3;
}

.blog-img {
    grid-row: 3/4;
    height: 391px;
    margin-top: -10px;
    border: solid 20px #E3E3E3;
    z-index: 1;
    position: absolute;
    padding-right: 335px;
    border-right-width: 36px;
}

.blog-title {
    height: 73px;
    margin-right: 0;
    margin-left: 19px;
    padding-right: 30px;
    grid-row: 3/3;
    border-radius: 0;
    margin-top: 377px;
}

.blog-img-1 {
    grid-row: 3/4;
    height: 429px;
    border: 0px;
    border-radius: 0;
    margin-top: 21px;
    margin-left: 6px;
    
} 

.blog-title-1 {
    height: 69px;
    margin-right: 0px;
    margin-left: 5px;
    grid-row: 4/4;
}

.read {
    height: 30px;
    grid-row: 4/4;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
}

/*---5.HISTORY---*/
#history {
    height: 419px;
    background-color: #989898;
    margin-bottom: 8px;
}

.vid-1 {
    border-radius: 50%;
    text-align: center;
    height: 142px;
    margin-right: 9px;
    background-color: #ffffff;
}

#vid-1 {    
    margin-top: 45px;
}

#vid-2 {    
    grid-row: 1/2;
    margin-top: 160px;
    margin-right: 28px;
    margin-left: 0px;
}

#vid-3 {    
    margin-right: 28px;
    margin-left: 0px;
    grid-row: 2/3;
    margin-top: -59px;
}

#zima-history{
    height: 30px;
    margin-left: 11px;
    grid-row: 1/2;
    margin-top: 274px;
}

#history-info {
    margin-right: 11px;
    margin-left: 11px;
    height: 204px;
    margin-top: 50px;
    grid-row: 1/2;
}

}

     /*---Destop: 1920---*/

@media screen and (min-width: 1920px) {
        #main-logo {
            width: 100%;
        }
/*--1. Header--*/
        /* #Nav-Desktop ul li {
            m
        } */

        #Nav-Desktop {
            margin-top: 11px;
            padding-left: 0;
        }

        #burger-con {
            font-size: 22px;
         }

/*2--Hero Image--*/
        #hero-image {
            height: 974px;   
        }
        
        .hero-text {
            height: 297px;  
        }

        .hero {
            height: 974px;
        }

/*---3. PROMO---*/

        #promo-con {
           height: 685px;
        }

        .more {
            height: 51px;
            margin-bottom: 538px;
        }

        .promo-pic img {
            grid-row: 2/3;
            height: 387px;
            margin-top: 94px;
            margin-left: 0;
            margin-right: 55px;
        }
        
        #promo-text {
            grid-row: 3/3;
            height: 71px;
            border-radius: 2px;
            padding: 15px 7px 7px 7px;
        }
    
        #promo-text-2 {
            display: block;
            grid-row: 3/3;
            height: 71px;
            border-radius: 2px;
            padding: 15px 7px 7px 7px;
        }

        /* .promo-pic img{
        grid-row: 2/3;
        height: 241px;
        width: 770px;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 55px;
    }
    
    #promo-text {
        margin-top: 0; 
        grid-row: 3/3;
        height: 44px;
        font-size: 14px;
        border-radius: 1px;
        padding: 4px 7px 7px 7px;
    }

    #promo-text-2 {
        display: block;
        grid-row: 3/3;
        height: 44px;
        text-align: center;
        background-color: #eeeeee;
        border-radius: 1px;
        font-size: 14px;
        padding: 4px 7px 7px 7px;
    } */

/*---4.STORE---*/
    #store {
        background-color: #A0A0A0;
        height: 1063px;
    }

    .shop {
        margin-top: 30px;
        font-size: 40px;
        margin-bottom: 0;
        color: #fff;
        grid-row: 1/3;
    }
    
    .shop-text {
        display: block;
        grid-row: 2/3;
        text-align: center;
        font-size: 30px;
    }

    .product1 img {
        height: 620px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .product_1 img {
        height: 625px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .product2 img {
        height: 625px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .product_2 img {
        height: 625px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .shop-more {
        height: 47px;
        margin-top: 24px;
        grid-row: 4/4;
        padding-bottom: 22px;
        padding-top: 6px;
        margin-right: 7px;
    }
   
/*---5.BLOG---*/

/*---5.HISTORY---*/
#history {
    height: 604px;
    background-color: #989898;
    margin-bottom: 8px;
}

.vid-1 {
    border-radius: 50%;
    text-align: center;
    height: 139px;
    margin-right: 9px;
    background-color: #ffffff;
}

#vid-1 {    
    margin-top: 88px;
}

#vid-2 {    
    grid-row: 1/2;
    margin-top: 225px;
    margin-right: 28px;
    margin-left: 0px;
}

#vid-3 {    
    margin-right: 28px;
    margin-left: 0px;
    grid-row: 1/2;
    margin-top: 361px;
}

#zima-history{
    height: 47px;
    margin-left: 11px;
    grid-row: 1/2;
    margin-top: 418px;
}

#history-info {
    margin-right: 11px;
    margin-left: 11px;
    height: 328px;
    margin-top: 70px;
    grid-row: 1/2;
}

/*--6.Footer---*/
#footer {
    height: 419px;
    background-color: #989898;
}

#footer-logo {
    height: 182px;
    margin-left: 13px;
    padding-right: 38px;
    margin-top: 40px;
}

#footer-nav {
    height: 266px;
    margin-left: 12px;
    padding-right: 35px;
    margin-top: 29px;
}

#contact {
    height: 276px;
    margin-left: 35px;
    padding-left: 48px;
    margin-top: 29px;
}

#submit-info {
    height: 177px;
    margin-left: 18px;
    margin-right: 8px;
    margin-top: 29px;
    grid-row: 1/2;
}

#submit {
    height: 47px;
   margin-left: 17px;
    grid-row: 1/2;
    margin-top: 210px;
}

}